body {
	background-color:#FFF;
}
img{border:0}
.Calculator_begin img{
    vertical-align: middle;
}
.Calculator_begin{
    font-size: 14px;
}
#combination{cursor: pointer;}
.TopBar ul,li{padding:0;margin:0;list-style-type: none}
#zc{/*background-image:url(about:blank);*//*background-attachment:fixed;*/ font-size:12px; margin:0px}
#mainTbl
{
	/*border-left:solid 1px #CCCCCC;*/
	width:100%;
	color:#666666;
}
#mainTbl a:link
{
	color:#666666;
	text-decoration:none;
}
#mainTbl a:hover
{
	text-decoration:none;
	color:Red;
}
#headerTr a:link
{
	text-decoration:none;
}
#headerTr a:hover
{
	/*background-color:#666666;*/
}
#mainTbl td
{
	text-align:center;
}
#headerTr
{
	color:#333333;
	/*height:50px;*/
	font-size:14px; 
	/*width:1000px;*/
	z-index:98;
	background:#FFFFFF;
	border-bottom:1px solid #e6e6e6;
}
#headerTr td
{
	border-right:solid 1px #CCCCCC;
	text-align:center;
}
#headerTr span
{
	display:inline-block;
}
#headerTr .headerList
{ 
	width:66px;
	text-align:left; 
	/*background-image:url(../images/listArrow.gif); */
	background-repeat:no-repeat; 
	background-position:right center;
	cursor:pointer;
}
#headerTr .uoOption
{
	width:44px;
	font-weight:normal;
	font-size:12px;
	padding-top:5px;
	padding-bottom:5px;
}
#headerTr .arrow_re
{
	/*background-image:url(../images/listArrow_re.gif);*/ 
}
#begin_time
{
	background-color: #e9e9e9;
}
.rLine
{
	border-right:solid 1px #cccccc;
}
.tLine
{
	border-top:solid 1px #cccccc;
}
.bLine
{
	/*border-bottom:solid 1px #cccccc;*/
}
.lLine
{
	border-left:solid 1px #cccccc;
}
#headerTr .selTab
{
	font-weight:300;
	text-decoration:none;
	color:#f84a4a;
	border:2px solid #f84a4a;
	border-radius:5px;
}
#headerTr .selTab div.orange{
	/*border-bottom:4px solid #f1571b;*/	
}
#calculator_menu {
	margin:2% 3%;
	height:50px;
}
#calculator_menu b{
	font-weight:300;
}
#headerTr a
{
	display:inline-block;
	height:46px;
	line-height:46px;
	cursor:pointer;
	font-size:15px;
	color:#666666;
	text-align:center;
	float:left;
	width:19%;
	border:1px solid #b5b5b5;
	border-radius:5px;
	margin-right:1%;
}
#headerTr a .lineHeight {
	line-height:46px;
}
#toolDiv
{
	height:30px;
	line-height:30px;
	background-color:#666666;
	/*padding-left:6px;*/
	color:#FeFeFe;
	width:100%;
	display:inline-block;
}
#hideCount
{
	display:inline-block;
}
#mFilterBtn
{
	color:#FFFFFF;
	display:inline-block;
	height:17px;
	line-height:17px;
	cursor:pointer;
	width:68px;
	/*background-image:url('../images/lotbg.jpg');*/
	background-position:left -112px;
	margin-left:6px;
}
#updateBtn
{
	color:White;
	text-decoration:underline;
}
#filterTbl
{
	position:absolute;
	z-index:100;
	display:none;
}
#uOddsListbox
{
	cursor:pointer;
}
#mainTbl td.bDateTd
{
	text-align:left;
	height:40px;
	line-height:40px;
	padding-left:8px;
	font-size:16px;
}
#mainTbl td.bDateTd label{
	margin-bottom:0px;
	font-weight:300;
}
#mainTbl td.vsTd div
{
	display:inline-block;
	font-size:14px;
	cursor:pointer;
	width:42%;
}
#mainTbl td.lname
{
	color:#3f92d2;
}
#mainTbl span.oddsItemKeep
{
	background-color:#FFFFFF;
	border:solid 1px #d9d9d9;
	color:#666666;
	border-radius:5px;
}
#mainTbl span.oddsDis
{
	background-image:none;
	font-weight:normal;
	font-size:12px;
	color:#cccccc;
}
#mainTbl span.oddsDis b {
	/*color:#cccccc;*/
}
#mainTbl td.goalLineTd
{
    padding-top: 1px;
    text-align: center;
    vertical-align: top;
    width: 40px;
}
#mainTbl td.goalLineTd div.lineHeight
{
	/*
	height:50px;
	line-height:50px;*/
	line-height:38px;
}
#mainTbl td.uOddsTd
{
	width:135px;
}
#mainTbl td.uOddsTd span
{
	display:inline-block;
	width:45px;
	height:35px;
	line-height:35px;
}
#mainTbl span.uOddsSel
{
	background-color:#F5AF19;
}
#mainTbl td.matchInfoTd
{
	width:42px;
}
#mainTbl td.matchInfoTd span
{
	padding:2px;
	background-color:#DA9B51;
	color:#FFFFFF;
}
#oddsChgDiv
{
	position:absolute;
	display:none;
	background-color:#ffffff;
	border:solid 1px #FF6000;
	width:240px;
	z-index:9999;
}
#oddsChgDiv table
{
	width:100%;
}
#oddsChgDiv td
{
	border-right:solid 1px #F4CB69;
	border-bottom:solid 1px #F4CB69;
	padding:6px;
	text-align:center;
}
#mainTbl tr.listTrOver
{
	/*background-color:#FFF7D1; */
}
#mainTbl tr.listTr
{
	font-weight:300;
	font-size:14px;
	border-top:1px solid #e6e6e6;
	background-color:#f6f6f6;
}
#sortList 
{
	border:solid 1px #AAAAAA;
	background-color:#FFFFFF;
	position:absolute;
	line-height:18px;
	padding:6px;
	display:none;
	z-index:103;
}
#uOddsSelect
{
	border:solid 1px #CCCCCC;
	background-color:#FFFFFF;
	position:absolute;
	line-height:21px;
	padding:2px;
	display:none;
	width:70px;
	z-index:102;
}
#selDetailBtn
{
	position:relative;
	text-align: center;
	cursor:pointer;
	z-index:100;

}
#selCount 
{
	position:absolute;
	top:-10px;
	left:-15px;
	border-radius:15px;
	background-color:#f84a4a;
	width: 30px;
	height: 30px;
	line-height:30px;
	font-size:14px;
	color:#FFF;
	
}
#sel_pan .detailBtnClk
{
	/*
	background-image:url('//info.sporttery.cn/football/images/lotbg.jpg');
	background-position:left -40px;
	border-top:none;
	*/
}
#sel_pan
{
	width:100%;
	position:fixed;
	background-color:#FFFFFF;
	z-index:100;
	color:#666666;
	padding:10px 0;
	border-top:1px solid #e6e6e6;
	bottom:0;
    font-size: 14px;
}
#bonusTd
{
	font-size:11px;
	line-height:16px;
	color:#FFFFFF;
}
#consume
{
	color:#f84a4a;
	font-size:14px;
	font-weight:bold;
}
#bonus
{
	color:#f84a4a;
	font-weight:bold;
	font-size:14px;
}
#sel_pan .subAddBtn
{
	background-color:#FFFFFF;
	border:solid 1px #CCCCCC;
	color:#EC8B00;
	font-weight:bold;
	width:20px;
}
#detailBtn
{
	width:95px;
	height:32px;
	border:none;
	background-color:#FF6000;
	color:#FFFFFF;
	font-size:16px;
	border-bottom:solid 2px #C34900;
	display:none;
}
#voteBtn
{
	/*
	width:95px;
	height:32px;
	border:none;
	background-color:#FF6000;
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	border-bottom:solid 2px #C34900;
	text-align:center;	*/
	cursor:pointer;

}
#times {
	border:0;
	/*
	background-color:#f84a4a;
	color:#FFFFFF;
	*/
	color:#f84a4a;
	padding:2px;
}
#viewDetailDiv
{
	position:absolute;
	display:none;
	bottom:74px;
	right:0px;
	border:solid 2px #CCCCCC;
	background-color:#FFFFFF;
	text-align:center;
	width:620px;
	z-index:104;
}
#viewDetailDiv td
{
	border-bottom:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
}
#selDetailTbl
{
	border-top:none;
}
#selDetailTbl td
{
	border-top:solid 1px #D3D3D3;
	padding:6px;
	text-align:center;
	word-break:keep-all;
	white-space:nowrap; 
}
#selDetailTbl .remindIcon
{
	background-position:-120px top;
	display:inline-block;
	width:16px;
	height:14px;
}
#selDetailTbl .delSelLine
{
	cursor:pointer;
}
#selDetailTbl .selOdds
{
	display:inline-block;
	border:solid 1px #D2D2D2;
	background-color:#F0F0F0;
	padding:3px;
	cursor:pointer;
}
#selDetailTbl .selOddsOver
{
	background-color:#FFE493;
}
#selDetailTbl .selOddsSel
{
	background-color:#FF0000;
	border:solid 1px #D80000;
	color:#FFFFFF;
}
#selDetailClose
{
	display:inline-block;
	font-size:12px;
	cursor:pointer;
}

#detailClose
{
	display:inline-block;
	float:right;
	border:solid 1px #FF0000;
	color:#ff0000;
	cursor:pointer;
	font-size:13px;
	width:16px;
}
#printBtn
{
	float:right;
	margin-right:3px;
}
#mmSpan
{
	color:red;display:none;
}
#animateFrame
{
	border:dashed 2px #666666;
	position:absolute;
	display:none;
}
#selDetailTbl td.selItemTd span
{
	color:#FFFFFF;
	padding:4px;
	background-color:#FF0000;
	margin-right:2px;
	cursor:pointer;
}
#noticeSpan
{
	float:right;
	line-height:28px;
	margin-right:8px;
	overflow:hidden;
}
#noticeSpan marquee
{
	height:20px;
	line-height:30px;
	overflow:hidden;
	width:260px;
}
#selDetailDiv
{
	position:fixed;
	display:none;
	z-index:200;
	bottom:111px;
	width:100%;
	background-color:#e9e9e9;
	text-align:center;
	padding:3% 0 1% 0;
    font-size: 14px;
}
#headerTr .headerOver
{
	background-color:#F5AF19;
}
#copytoboard
{
	display:inline-block;
	height:23px;
	line-height:23px;
	width:100px;
	overflow:hidden;
	float:right;
	padding-top:3px;
}
#viewDetailTbl .orderTd
{
	width:38px;
}
.tip label {
	margin-bottom :0;
}
#optionTip
{
	font-size:12px;
	color:#f84a4a;
	overflow: visible;
	white-space:nowrap;
	height:30px;
	line-height:30px;
	vertical-align:middle;
	word-wrap:break-word;
	background:url(../../images/calculator/alpha50.png);
	width:100% !important;
	text-align:center;
	display:none;
}
#optionHeader
{
	width:auto;
	color:#FFFFFF;
}
#optionHeader input
{
}
#optionList
{
}
.matchNum, #mainTbl td.goalLineTd div.matchNum{
	line-height:24px;
	font-size:14px;
}

.matchTime {
	background-color:#f6f6f6;
	line-height:20px;
	font-size:14px;
	height:80px;
	padding-top:20px;
	margin-left:5%;
	color:#666666;
	font-weight:normal;
	margin-bottom:8px;
	border-radius:5px;
}
.cleanCss {
	background-color:#FFFFFF;
	text-align:center;
	font-size:16px;
	font-weight:700;
}
.cleanCss a, .cleanCss a:active, .cleanCss a:hover {
	color:#333333;
	text-decoration:none;
}
.cleanCss img{
	padding:5px 0;
} 
.betCss img {
	padding:5px 0;
} 
.betCss {
	background-color:#ff772b;
	text-align:center;
	font-size:16px;
	color:#FFFFFF;
	font-weight:700;
}
.matchBg {
	/*background-color:#FFFFFF; */
	border-radius:3px;
	text-align:center;
	border:1px solid #e6e6e6;
	border-radius: 5px;
	height: 40px;
	line-height:40px;
	cursor: pointer;
}
.teams { 
	width:42%;
	float:left;
	text-align:center;
	font-weight:300;
}
.showMode {
	width:100%; 
	position:fixed ; 
	left :0 ;
	bottom:111px;  
	background-color: #e9e9e9;
	
}
.showMatchs {
	width:100%; 
	position:fixed ; 
	background-color: #e9e9e9;
}
.showModes {
	padding:2px 0;	
}
.showModeEvery{
	position:relative;
	float:left;
	width:21%;
	margin-bottom:11px;
	border:1px solid #d9d9d9;
	border-radius:5px;
	padding:2% 5%;
	background-color:#FFFFFF;
	margin:1% 2%;
}
.showModeText{
	text-align:center;
	display:block;
	width:100%;
	font-size:14px;
}
.showModeEvery img {
	width:85%;
}
.cancelBtn, .okBtn{
	float:left;
	width:50%;
	background-color:#eaeaea;
	text-align:center;
	font-size:16px;
	line-height:40px;
	color:#666666;
}
.okBtn {
	color:#FFFFFF;
	background-color:#ff772b;
}
.showMatchs .showModeImg, .showMatchs, div.showModeImgRight, .showMatchs .matchDescript{
	float:left;
}
.showMatchs .showModeImg {
	cursor:pointer;
	width:8%;
	margin:5% 0 0 0;
}
.showMatchs .showModeImg img {
	width:80%;
}
.showMatchs .showModeImg.showModeclose{
	float:right;
	line-height:0;
}
.showMatchs .showModeImg.showModeclose img{
	width: 25px;
	position: absolute;
	top: 0;
	right: 0;
}
div.showModeImgRight {
	float:right;
	text-align:right;
}
.matchDescript {
	width:84%;
	margin-top:2%;
}
.matchTitle{
	width:100%;
	font-size:14px;
	text-align:center;
}
.matchSelected {
	width:100%;
	font-size:12px;
	text-align:center;
	padding:2% 8% 2% 8%;
}
.matchSelected span {
	padding-right:2%;
}
.tip {
	width:100%;
	position:
	fixed;
	left:0;
	bottom:111px;
}
.selectMatch {
	/*display: none;*/
	visibility:hidden;
}
.bottomDivHeight {
	height:150px;
}
#bonusTd b{
	color:#999999;
	font-weight:normal;
}
.selectedGuanCss {
	background-color:#f84a4a;
	color:#FFFFFF;
}
.selectedGuanCss .showModeText {
	color:#FFFFFF;
}
#sel_footer_up, .sel_footer_down { padding:5px}
#sel_footer_up .sel_selected,  #sel_footer_up .sel_guan, #sel_footer_up .sel_clean{
	
}
.sel_selected { 
	width:22%; 
	float:left;
	padding-left:4%;
}
.sel_guan { 
	width:58%; 
	float:left;
}
.sel_clean { 
	width:20%; 
	text-align:right; 
	float:right; 
	font-size:14px; 
	border: 1px solid #e6e6e6; 
	border-radius: 5px; 
	line-height:38px; 
	background-color:#f6f6f6;
}
.sel_clean img { 
	float:left; 
	top:14px; 
	position:relative;
	left:10px; 
	padding-right:25%;
}
.sel_clean a { 
	color:#666666;
	font-size:12px;
}
.sel_clean span { 
	float:left; 
	display:block; 
}
#passSelection {
	width:90%;
	font-size:12px;
}
.sel_footer_down .sel_selected, .sel_footer_down .sel_money_div, .sel_footer_down .plan{
	float:left;
}
.plan {
	width:24%; 
	text-align:center; 
	font-size:14px; 
	border: 1px solid #e6e6e6; 
	border-radius: 5px; 
	line-height:38px; 
	background-color:#f84a4a;
	color:#ffffff;
}
.sel_money_div {
	float:lef;
	width:54%;
}
.sel_nums {
	border: 1px solid #e6e6e6; 
	border-radius: 5px; 
	line-height:38px; 
	text-align:center;
	font-size:14px;
	width:100%;
	color:#f84a4a;
}
.sel_money {
	padding-left:5%;
	color:#999999;
}
#keyboard {
	position:absolute;
	/*top:-208px;*/
	bottom:0;
	left:0;
	z-index:101;
	text-align:center;
	display:none;
	width:100%;
}
#keyboard .table_keyboard{
	border-top:2px solid #cccccc;
	border-bottom:1px solid #cccccc;
	background-color:#f6f6f6;
}
#keyboard table.table_keyboard tr td{
	border-bottom:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
}
#keyboard table.table_keyboard tr td div{
	text-align:center;
	padding:8px 0;
	font-size:24px;
}
.multiple_ta {
	border:1px solid #e6e6e6;
	borer-bottom:0;
	color:#FFF;
	line-height:30px;
	background-color:#f84a4a;
	font-size:16px;
	font-weight:700;
	border-radius:5px;
}
.boder-red {
	border:1px solid #f84a4a;
}
/*方案弹出*/
.modal-header {
	background-color: #f6f6f6;
	color:#333333;
	border-radius:5px;
	font-size:14px;
}
.modal-header .close {
    margin-top: 0;
    position: relative;
    top: -25px;
    right: -25px;
    background-color: #ffffff;
    border-radius: 12px;
    width: 24px;
    height: 24px;
	color:#f84a4a;
}
.close {
	opacity:1;
	line-height:0;

}
.modal-body {
	text-align:center;
	padding:0px 15px 15px 0;
}
.modal-body li {
	border-bottom: 1px solid #e6e6e6;
	
}
.modal-body li div {
	line-height:16px;
}
.list_title {
	padding-top:5px;
}
.list_result {
	color:#999999;
	word-wrap: break-word;
	padding:5px;
}
.score_div { 
	padding-right:5px;
}
.b_time, l_time {
	font-size:12px;
	font-weight:100;
}
.td_padding {
	padding:8px;
}
.hideCss { 
	float:right; 
	padding-right:4%;
}
.hideCss img {
	margin-top:-3px;
}
.had_div, .hhad_div { line-height:20px;}
/*
@media all and (orientation : landscape) { 
.wrap { max-width:350px; margin:0 auto; padding:0}
#sel_pan { max-width:350px; padding:10px 0 5px 0;}
.header {max-width:350px;}
#headerTr{ max-width:350px;}
#keyboard table tr td div { padding:0;}
#keyboard { top:-143px;}
#calculator_menu { }
#headerTr a { height:35px; font-size:12px; }
#headerTr a .lineHeight { line-height:35px; }
#calculator_menu { height:35px;}
.matchBg { height:30px; line-height:30px;}
.sel_clean { line-height:28px;}
.sel_clean img { top:8px;}
.sel_nums { line-height:28px;}
.plan { line-height:28px;}
.showMode { bottom:89px;max-width:350px; position: absolute;}
#selDetailDiv { max-width:350px; bottom:89px;}

} 
*/

@media screen and (max-width:320px){#headerTr a{font-size:12px}}

@media all and (orientation : landscape) { 
	#keyboard table.table_keyboard tr td div { padding:6px 0;}
} 
@media screen and (max-width: 480px) { 
	#calculator_menu .had_div, #calculator_menu .hhad_div{ font-size:13px; padding-top:2px;}
} 
a.bDateHide,a.bDateHide:hover {
	color: #ff5050;
	text-decoration:none;
}
.modal{
    font-size: 14px;
}