@charset "UTF-8";
/* banner */
.g-banner{box-sizing:content-box;overflow:hidden;}
.g-banner .swiper-container{margin:.24rem auto;width:6.9rem;height:3.86rem;border-radius:.1rem;border:1px solid #F8DDDC;}
.swiper-container{width:100%;height:100%;}
.m-banner{width:6.9rem;height:3.86rem;}
.swiper-pagination{width:auto !important;left:auto !important;right:.3rem;bottom:.24rem !important;}
.swiper-pagination-bullet{float:left;margin:0 !important;width:.26rem;height:.26rem;font-size:0;opacity:1;background:url(../images/icon_ban.png) no-repeat;background-size:.26rem .26rem;}
.swiper-pagination-bullet-active{width:.52rem;height:.26rem;background:url(../images/icon_ban_active.png) no-repeat;background-size:.52rem .26rem;}
/* notice */
.g-notice{margin-bottom:.24rem;width:100vw;height:.88rem;line-height:.88rem;font-size:.26rem;background:#fff;border-top:1px solid #EBEBEB;border-bottom:1px solid #EBEBEB;box-sizing:content-box;}
.g-notice a{display:block;padding:0 .26rem;width:100%;}
.icon-notice{margin-top:.28rem;margin-right:.09rem;width:.32rem;height:.32rem;}