@charset "UTF-8";
/* header */
.g-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.m-header {
    padding: 0 .3rem;
    width: 100vw;
    height: .88rem;
    line-height: .88rem;
    font-size: .34rem;
    color: #fff;
    text-align: center;
    background: url(../images/bg_header.png) no-repeat center;
    background-size: 100%;
    overflow-x: hidden;
}
.icon_logo {
    width: 2.37rem;
    height: .7rem;
    margin-top: .1rem;
}
/* nav */
.g-nav {
    position: fixed;
    top: .88rem;
    left: 0;
    z-index: 998;
    background: url(../images/bg_header.png) no-repeat center -.2rem;
    background-size: 100%;
}
.g-nav-1{
    top: 0;
    background: #fff;
}
.m-nav {
    padding: 0 0.3rem;
    width: 100vw;
    height: .88rem;
    line-height: .88rem;
    font-size: .3rem;
    background: #fff;
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
}
.m-nav a {
    color: #414141;
}
.m-nav a.active {
    color: #F95B57;
    text-decoration: none;
}
.icon_more {
    margin-top: .34rem;
    margin-left: .08rem;
    width: .24rem;
    height: .24rem;
}
/* 更多的展开效果 */
.g-more-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.m-more-mask {
    display: none;
    padding-top: .88rem;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    font-size: .3rem;
    overflow-x: hidden;
}
.m-more-nav {
    position: relative;
    clear: both;
    overflow: hidden;
    font-size: .3rem;
    background: #fff;
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
}
.m-more-nav a {
    float: left;
    margin-left: .3rem;
    margin-right: .22rem;
    line-height: .88rem;
}
.m-more-nav a.active,.m-more-nav a:hover {
    color: #F95B57;
    text-decoration: none;
}
.icon-sq {
    position: absolute;
    bottom: .2rem;
    right: .3rem;
    font-size: .28rem;
    color: #499BF3;
}
.icon-sq img {
    width: .24rem;
    height: .24rem;
    margin-top: .05rem;
    margin-right: .08rem;
}
/* 二级页面导航 */
/* 返回按钮 */
.u-header-back {
    float: left;
    margin-top: .275rem;
    width: .18rem;
    height: .33rem;
}
/* 更多按钮 */
.u-header-more {
    float: right;
    margin-top: .22rem;
    width: .4rem;
    height: .4rem;
}
.m-nav-1 {
	height: auto;
    border-bottom: 1px solid #d8d8d8;
    text-align: center;
    overflow-x: auto;
}
.m-nav-1 li {
    flex: 1;
    white-space: nowrap;
}
.m-nav-1 li a {
    padding: 0 .36rem;
    display: block;
    position: relative;
}
.m-nav-1 li .active:after {
    position: absolute;
    bottom: .08rem;
    left: 50%;
    margin-left: -.17rem;
    content: "";
    width: .34rem;
    height: .06rem;
    background: #FA5B57;
    opacity: 1;
    border-radius: 20px;
}